.idea

# The pb directory is excluded for preventing redundant changes in
# repositories. If you want to see proto files please refore to
# central repository for pb files
# github.com/zytell3301/tg-protos
api/pb

# An example is included for every configuration file instead
# of setting examples in original file
configs/configs.yaml